
<div class="card text-white bg-secondary">
  <div class="card-body">
    <h4 class="card-title">{{item.candidateName}}</h4>
    <!--<h5 class="card-text"> {{item.candidateGender}} </h5>-->
  </div>
  <table class= "table table-inverse" >
    <tr>
      <td scope="row"><b>Category</b></td>
      <td>
        <i *ngIf= "item.candidateCategory == 'OBC' ">OBC</i>
        <i *ngIf="item.candidateCategory == 'General' " >General</i>
        <i *ngIf="item.candidateCategory == 'SC' " >SC</i>
        <i *ngIf="item.candidateCategory == 'ST' " >ST</i>
      </td>
    </tr>
    <tr>
      <td scope="row" ><b>Candidate Email</b></td>
      <td> {{item.candidateEmail}} </td>
    </tr>
    <tr>
      <td scope="row" ><b>Mobile No:</b></td>
      <td> {{item.candidatePhone}} </td>
    </tr>
    <tr>
      <td scope="row" ><b>Address</b></td>
      <td> {{item.candidateAddress}} </td>
    </tr>
  </table>
  <div class="card-footer text-muted">
    <button type="button" class= "btn btn-danger" (click)="delete()" >Remove</button>
    <button type="button" class= "btn btn-primary" [routerLink]=" ['/listItem', item.candidateId]" >View</button>
  </div>
</div>